.list {
    border-collapse: collapse;
    border-spacing: 0;
}

.list__head {
    font-weight: bold;
}

.list__item:nth-child(even) {
    background-color: #f8f8f8;
}

.list__login,
.list__commits,
.list__comments {
    padding: 6px 13px;

    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
}
